LevelEditor/LE.GameEngine/Service References/TIC_Webservice/GameService4.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:ser="http://schemas.microsoft.com/2003/10/Serialization/" xmlns:tns="http://schemas.datacontract.org/2004/07/GameEngine.CSharp.Game.Engine" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/GameEngine.CSharp.Game.Engine" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:58250/Services/GameService.CSharp.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:import schemaLocation="http://localhost:58250/Services/GameService.CSharp.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/GameEngine.CSharp.Game.Board" />
  <xs:complexType name="GameConfiguration">
    <xs:sequence>
      <xs:element minOccurs="0" name="GameId" type="ser:guid" />
      <xs:element minOccurs="0" name="numberOfAI" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="GameConfiguration" nillable="true" type="tns:GameConfiguration" />
  <xs:complexType name="ArrayOfTileColor">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="TileColor" nillable="true" type="tns:TileColor" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfTileColor" nillable="true" type="tns:ArrayOfTileColor" />
  <xs:complexType name="TileColor">
    <xs:sequence>
      <xs:element minOccurs="0" name="Fortress" type="xs:boolean" />
      <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/GameEngine.CSharp.Game.Board" minOccurs="0" name="color" type="q1:TileType" />
      <xs:element minOccurs="0" name="id" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TileColor" nillable="true" type="tns:TileColor" />
  <xs:complexType name="GameStats">
    <xs:sequence>
      <xs:element minOccurs="0" name="BlueCount" type="xs:int" />
      <xs:element minOccurs="0" name="BlueFortress" type="xs:int" />
      <xs:element minOccurs="0" name="RedCount" type="xs:int" />
      <xs:element minOccurs="0" name="RedFortress" type="xs:int" />
      <xs:element minOccurs="0" name="YellowCount" type="xs:int" />
      <xs:element minOccurs="0" name="YellowFortress" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="GameStats" nillable="true" type="tns:GameStats" />
  <xs:simpleType name="PlayerStatus">
    <xs:restriction base="xs:string">
      <xs:enumeration value="none" />
      <xs:enumeration value="itsMyTurn" />
      <xs:enumeration value="triggerAI" />
      <xs:enumeration value="noMoves" />
      <xs:enumeration value="gameOver" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="PlayerStatus" nillable="true" type="tns:PlayerStatus" />
</xs:schema>